<div class="coins">
    <% for (coin in coins) { %>
        <% var icon_path = "/icons/" + coin.toLowerCase() + ".png" %>
        <% if (coin.toLowerCase() == id) { %>
            <div class="coin" id="selected">
        <% } else { %>
            <div class="coin">
        <% } %>
            <div class="rank">
                <%- coins[coin].rank %>
            </div>
            <div class="container">
                <img src="<%- icon_path %>" alt="">
            </div>
            <div class="info">
                <div class="title">
                        <div class="name">
                            <%- coins[coin].name %>
                        </div>
                        <div class="ticker">
                            <%- coin %>
                        </div>
                    </div>
                <div class="value">
                    <div class="price">
                        <%- coins[coin].price %>
                    </div>
                    <div class="percent">
                        <%- coins[coin].percent %>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>
